# Environment variables
**/*.env
# This env doesn't contain any sensitive info at all but be carefull if that will change
!.env 
.next/

# Ignore everything in the app directory
/wordpress/app/*
**/node_modules/

# Except .gitkeep
!/wordpress/app/.gitkeep

# Ignore everything in the wp-content directory
!/wordpress/app/wp-content/

# Except mu-plugins
/wordpress/app/wp-content/*
!/wordpress/app/wp-content/mu-plugins/