# Environment variables
**/*.env

# Ignore everything in the app directory
/app/*

# Except the wp-content directory
!/app/wp-content/

# Ignore everything in wp-content
/app/wp-content/*

# Except the themes directory
!/app/wp-content/themes/

# Ignore everything in themes
/app/wp-content/themes/*

# Except the akiralyhalott directory and its contents
!/app/wp-content/themes/akiralyhalott/