@import "styles/variables";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  min-width: 100px;
  text-decoration: none;
}

.white {
  background-color: $textWhite;
  color: $black;
  border: 1px solid $black;

  &:hover {
    background-color: #afafaf;
  }
}

.black {
  background-color: $black;
  color: $textWhite;
  border: 1px solid $textWhite;

  &:hover {
    background-color: #282828;
  }
}