@import 'styles/mixins';

.container {
	position: relative;
	height: 100%;
}

.padding {
	padding-top: 150px;

	@include underTablet {
		padding-top: 80px;
	}

	@include underMobileLarge {
		padding-top: 0;
	}
}
