@import "../../styles/variables";
@import "../../styles/mixins";

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  background-color: $black;
  padding: 0 100px 0 40px;

  @include breakpoint(sm) {
    padding: 0 20px 0 20px;
  }

  @include breakpoint(l) {
    height: 70px;
  }
}

.logo {
  width: 50px;
  margin-bottom: auto;
  margin-top: auto;

  @include breakpoint(sm) {
    width: 40px;
  }
}
