@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e1e1e1;
  --foreground: #2b2c2d;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background, #e1e1e1);
  color: var(--foreground, #2b2c2d);
  @apply font-martian;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.footer {
  @apply bg-[#151515] py-8 font-martian text-white sm:py-12;
}

.footer .footer__body {
  @apply flex flex-col justify-center gap-4 sm:gap-6 lg:gap-8;
}

.footer .footer__social-media-platforms {
  @apply flex justify-center gap-2 py-2 sm:gap-4 lg:gap-6;
}

.footer .footer__social-media-platform-logo {
  @apply h-[20px] w-[20px] sm:h-[30px] sm:w-[30px] lg:h-[40px] lg:w-[40px];
}

.footer .footer__copyright {
  @apply text-center text-[10px] lg:text-sm;
}

.footer .footer__links {
  @apply flex items-center justify-center gap-2 text-[10px] underline sm:gap-3 sm:text-sm lg:text-lg;
}

.footer .footer__links-separator svg {
  @apply h-[15px] w-[15px] sm:h-[25px] sm:w-[25px] lg:h-[35px] lg:w-[35px];
}

.link-button {
  @apply border-[1px] px-4 py-2;
}

.link-button.dark {
  @apply bg-gray-900 text-white hover:bg-gray-700;
}

.link-button.light {
  @apply border-gray-800 bg-[var(--background)] text-black hover:bg-gray-200;
}
