@import '../../styles/variables';
@import '../../styles/mixins';

.container {
	background-color: $black;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px 0;
	position: relative;
	gap: 30px;
	margin-top: 50px;

	@include underTablet {
		padding: 60px 0;
	}
}

.copyright {
	//margin-top: 20px;
}

.upperDivider {
	height: 2px;
	width: 600px;
	position: absolute;
	top: 0;
	background-color: $textWhite;

	@include underLaptop {
		width: 400px;
	}

	@include underPixel(600) {
		width: 200px;
	}
}

.linkContainer {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.dotSeparator {
	$size: 5px;
	height: $size;
	width: $size;
	background-color: $textWhite;
	border-radius: 50%;
}
