@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.container {
  width: 100%;
  min-height: 100vh;
  background-color: $black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 500px;

  @include underLaptopLarge {
    width: 400px;
  }

  @include underLaptop {
    width: 300px;
  }

  @include underTablet {
    width: 200px;
  }

  @include underMobileSmall {
    width: 100px;
  }
}