@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-content-width: 72rem;
  --smoke-white: #e1e1e1;
  --smoke-white-rgb: 225, 225, 225;
  --text-black: #2b2c2d;
}

html {
  @apply bg-[var(--smoke-white)] text-[var(--text-black)];
}

* {
  @apply m-0 p-0 box-border font-mono;
}

a {
  @apply no-underline;
}

ul {
  list-style: none;
}

.webshop-carousel-fade {
  background: linear-gradient(
    90deg,
    rgba(var(--smoke-white-rgb), 0) 0%,
    rgba(var(--smoke-white-rgb), 1) 35%,
    rgba(var(--smoke-white-rgb), 1) 100%
  );
}

@layer utilities {
  div:has(div):has(div):has(.side-menu:checked) {
    @apply bg-[var(--smoke-white)] xl:bg-transparent;
  }

  div:has(div):has(.side-menu:checked) ~ nav {
    @apply max-h-full;
  }

  .side-menu:checked ~ .hamb .hamb-line {
    background-color: transparent;
  }

  .side-menu:checked ~ .hamb .hamb-line::before {
    @apply rotate-[-45deg] top-0;
  }

  .side-menu:checked ~ .hamb .hamb-line::after {
    @apply rotate-[45deg] top-0;
  }

  body:has(.side-menu:checked) {
    @apply overflow-hidden;
  }
}
