@import 'mixins';

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	// padding: 100px 0 100px 0;

	@include underTablet {
		padding-top: 50px;
	}

	@include underMobileLarge {
		padding-top: 100px;
	}
}

.title {
	font-size: 4rem;

	@include underTablet {
		font-size: 3rem;
	}

	@include underMobileLarge {
		font-size: 2rem;
	}
}

.resources {
	display: flex;
	flex-direction: column;
	font-size: 1.5rem;
	padding: 50px 0 0 0;

	li:not(:last-child) {
		margin-bottom: 10px;
	}

	@include underMobileLarge {
		font-size: 1.3rem;
	}
}

.contactRow {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 100px;
	width: 100%;

	@include underTablet() {
		flex-direction: column;
		justify-content: center;
		gap: 50px;
	}
}

.contactDetails {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 5px;

	@include underTablet {
		align-items: center;
	}

	h2,
	p {
		margin: 0;
	}

	p {
		text-align: center;
	}
}

.pressContent {
	&Container {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		padding: 3rem 0 0 0;
	}

	&Link {
		font-size: 20px;
	}
}
