@import "styles/mixins";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include underMobileLarge {
    padding-top: 100px;

    h1 {
      font-size: 1.5rem;
      margin-bottom: 50px;
      padding: 0 10px;
    }
  }
}

.photoContainer {
  width: 1300px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include underLaptopLarge {
    width: 1000px;
  }

  @include underLaptop {
    width: 750px;
  }

  @include underTablet {
    width: 420px;
  }

  @include underMobileLarge {
    width: 300px;
  }
}

.image {
  width: 100% !important;
  height: auto !important;
  display: block;

  &:hover {
    cursor: pointer;
    opacity: 0.6;
  }
}

.imagePlaceholder {
  width: 100% !important;
  min-height: 20vh;
}

.viewedImageContainer {
  display: flex;
  width: 80%;
  height: 80%;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%),
}

.viewedImage {
  max-width: 100%;
  max-height: 100%;
}
