@import './mixins.scss';

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 40px 0;

	> * {
		&:not(:last-child) {
			margin-bottom: 40px;

			@include breakpoint(l) {
				font-size: 20px;
			}
		}
	}

	.logo {
		margin-bottom: 40px;
	}

	p {
		font-size: 38px;
		text-align: center;
		padding: 0 5px;

		@include breakpoint(l) {
			font-size: 24px;
		}
	}

	button {
		border: 0;
		background-color: white;
		font-size: 38px;
		padding: 10px 50px;
		border-radius: 5px;

		@include breakpoint(l) {
			font-size: 28px;
		}

		&:hover {
			background-color: rgb(191, 191, 191);
			cursor: pointer;
		}
	}
}
