@import "./mixins";

.container {
  padding: 150px 0;
  text-align: justify;
  text-justify: auto;
  text-align-last: center;
  margin: 0 auto;

  @include underMobileLarge {
    font-size: 1rem;
    padding: 100px 0;

  }

  h2 {
    text-align: center;
    margin: 0 0 50px 0;
    padding: 0 50px;
    font-size: 2rem;

    a {
      text-decoration: underline;
    }

    @include underTablet {
      font-size: 1rem;
      padding: 0 80px;
    }

    @include underMobileLarge {
      padding: 0 30px;
    }
  }
}

.musicPlayerContainer {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 400px);
  grid-template-areas:
      "spotify youtube"
      "apple-music deezer";
  max-width: 1000px;
  margin: 0 auto;

  @include underLaptop {
    grid-template-rows: repeat(2, 300px);
    max-width: 700px;
  }

  @include underTablet {
    grid-template-rows: repeat(4, 300px);
    max-width: 300px;
    grid-template-areas:
      "spotify spotify"
      "youtube youtube"
      "apple-music apple-music"
      "deezer deezer";
  }

  /*@include underMobileLarge {
    grid-template-rows: repeat(4, 200px);
    max-width: 200px;

  }*/

}