@import '../styles/mixins.scss';

.container {
	display: flex;
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	flex-direction: column;

	h1 {
		@include underMobileLarge {
			font-size: 2rem;
		}
	}

	@include underTablet {
		padding: 100px 0;
	}
}

.link {
	text-decoration: underline;
	cursor: pointer;
}

.shopDescription {
	text-align: center;
}

.productsContainer {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	padding: 60px 40px 40px 40px;

	@include underLaptopLarge {
		grid-template-columns: repeat(2, 1fr);
	}

	@include underTablet {
		grid-template-columns: 1fr;
	}
}
